html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
@media screen and (max-width: 700px) {
  .main-nav {
    display: none;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.reset-links a{
  text-decoration: none;
  color: #ffffff;
  outline: none;
}
.reset-list {
  list-style: none;
  /*padding-left: 0;*/
}


.site-footer {
  background-color: #1e2024;
}

.bottom-footer {
  background-color: #000000;
}

.main-menu > li > a {
  color: #3d3d3d;
}

/*.read-more{*/
  /*background-color: #f14848;*/
/*}*/
.main-menu > li > a:focus,
.main-menu > li > a:hover {
  color: #f14848;
}

.secondary-menu > li > a {
  color: #3d3d3d;
}

.secondary-menu {
  display: none;
}

.main-menu li:hover > .secondary-menu {
  display: block;
}

.secondary-menu > li > a:focus,
.secondary-menu > li > a:hover {
  color: #ffffff;
  background-color: #f14848;
}

.main-nav a {
  text-decoration: none;
}

.main-nav a:hover + .secondary-menu {
  display: block;
}



/*can I put in same class?????*/
/*text decoration here?*/
/*.social-media li,*/
.blogs a,
.site-button {
  color: #ffffff;
  background-color: #f14848;

}
/*need this?*/
.social-media li
{
  background-color: #f14848;
}
/*? delete?*/
.ott-tv {
  color: #f14848;
  background-color: #ffffff;

}


.footer-main-menu > li > a {
  color: #ffffff;
}

.footer-secondary-menu > li > a {
  color: #7a7a7a;
}

.footer-secondary-menu > li > a:hover,
.footer-secondary-menu > li > a:focus {
  color: #f14848;
}

.bottom-footer {
  color: #636363;
}

.bottom-footer a{
  color: #636363;
}

.bottom-footer a:hover,
.bottom-footer a:focus {
  color: #ffffff;
}

.top-main{
  background-image: url("");
}
